
/* Caja de busqueda 
   fondo blanco y bordes redondeados 
*/
.search-box{
	-fx-background-color: #FFFFFF;
 	-fx-background-radius: 100;
}
/*
  labeel de busqueda
  transparente
*/

.transparent{
	-fx-background-color: rgba(0,0,0,0);
}
/*
 boton de busqueda
*/
.search-button{
	-fx-background-color: #828282;
	-fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.3) , 10, 0.0 , 0 , 10.8 );
}